
  <footer>
    <div class="container">
      <div class="flex-container">
        <div class="footerLogo mt-4"><h4>e-Promo</h4></div>
        <div class="mt-4">
          <ul>
            <li><h5>Contato:</h5></li>
            <li>Email: e-promo@support.com.br</li>
            <li>Tel: (11) 99483-1772</li>
          </ul>
            <div class="footer-copyright text-center py-5">
              <p>Copyright © 2019 <span style="color: #38c1d8;">e-Promo, Inc.</span> </p>
            </div>
        </div>
        <div class="mt-4">
          <ul>
            <li><h5>Categorias:<h5></li>
            <li><a href="/#topOfertas" data-filter=".celular" style="color: #fff;">Celulares</a></li>
            <li><a href="/#topOfertas" data-filter=".notebook" style="color: #fff;">Notebooks</a></li>
            <li><a href="/#topOfertas" data-filter=".tablet" style="color: #fff;">Tablets</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/ajax.js"></script>
  <script src="/js/mixitup.min.js"></script>
  <script src="/js/style.js"></script>
  <!--
    <script src="/js/bootstrap/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
  -->
  </body>
</html>
