<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>e-Promo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="shortcut icon" type="image/png" href="/img/mobile.png">
    <!--
      <link rel="stylesheet" href="/style/bootstrap.min.css" />
    -->
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
      <a class="navbar-brand" href="/"><i class="fas fa-mobile-alt"></i> e-Promo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/#topOfertas" data-filter="all">Ofertas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#topOfertas" data-filter=".celular">Celulares</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#topOfertas" data-filter=".notebook">Notebooks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#topOfertas" data-filter=".tablet">Tablets</a>
            </li>

          <!--------- Check if the user is logged ----------->
           <% if(!currentUser) {%>
            <li class="nav-item">
              <a class="nav-link nav-login" href="/login">Login</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-login" href="/new">Nova oferta +</a>
            </li>
          <% } %>
        </ul>
      </div>
  </nav>
