img {
    width: 100%;
    min-height: 50%;
}

:root {
    --purple: #3F51B5;
    --cyan: #36D1DC;
    --blue: #5B86E5;
}

.price, .votes {
    position: absolute;
}

.container {
    padding-right: 8px;
    padding-left: 8px;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  cursor: pointer;
}

.card {
  border-radius: .50rem;
  box-shadow: 0px 8px 25px rgba(63, 81, 181, 0.4);
  width: 19rem;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0px 4px 15px rgba(63, 81, 181, 0.2);
}

.card-img-top {
    border-top-left-radius: calc(.50rem - 1px);
    border-top-right-radius: calc(.50rem - 1px);
}

.price {
    top: .5rem;
    left: 0.5rem;
    min-width: 5rem;
    height: 2rem;
    margin: 0;
    padding: 0 5px 0 5px;
    display: inline;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    border-radius: 40px;
    background-color: var(--purple);
}

.votes {
    top: 0.5rem;
    left: 16rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    padding: 0;
    background-color: var(--cyan);
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    font-size: 1.2rem;
    display: inline;
    box-shadow: 0px 5px 10px rgba(63, 81, 181, 0.4);
}

.comments-session {
  background-color: var(--purple);
  color: #fff;
}