body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #eef5f9;
  height: 100%;
}

img {
  max-width: 100%;
}

:root {
  --purple: #3F51B5;
  --cyan: #36D1DC;
  --blue: #5B86E5;
  --grad: linear-gradient(137.73deg, #36D1DC 0%, #46B0E0 44.27%, #5B86E5 100%);
}

h2 {
  color: var(--purple);
}


.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.mt-1, .my-1 {
  margin-top: .35rem!important;
}

.btn-primary {
  background-color: var(--purple);
  color: #fff;
  border-color: var(--purple);
  border-radius: 40px;
  box-shadow: -2px 6px 12px rgba(63, 81, 181, 0.6);
  font-size: 1.1rem;
  margin: 0 auto;
  padding: 3px;
  transition: all 150ms ease-in-out;
}

.btn-primary:active, .btn:active, .btn:focus {
  background-color: var(--purple);
}

.btn-primary:hover {
  background-color: var(--purple);
  border-color: var(--purple);
  box-shadow: -2px 2px 3px rgba(63, 81, 181, 0.8);
}

.btn-loja {
  width: 6.5rem;
}

/*************
  HEADER 
**************/
.jumbotron{
  height: 48vh;
  color: #fff;
  background: linear-gradient(125.11deg, #36D1DC 0%, #5B86E5 100%);
  border-radius: 0;
  padding: 0;
  overflow: hidden;
}

.jumb-bg {
  position: relative;
  top: 9vh;
  left: 0vw;
  width: 59vh;
  height: 100%;
}

.presentation-header {
  display: none;
}

.presentation-header a {
  position: relative;
  left: 10vw;
}


/**************** 
  NAVBAR 
******************/
.navbar {
  transition: all 0.2s ease-in-out;
}

.navbar-toggler, .navbar-light .navbar-brand  {
  color: #fff;
}

.mr-auto, .mx-auto {
  margin-right: 15px!important;
  margin-left: auto!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.9rem;
  padding-left: .9rem;
  font-size: 1.07rem;
  font-weight: 100;
}

.navbar-brand {
  margin-left: 1rem;
  color: #fff;
}

.navbar-brand:hover {
  color: var(--purple)!important;
}

.bgColor {
  background-color:var(--purple)!important;
  box-shadow: 0px 8px 20px rgba(63, 81, 181, 0.4);
}

.navbar-light .navbar-toggler, 
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  border-color: rgba(0,0,0,0);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #efefef;
}

.navbar-toggler{
  padding: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
  position: relative;
  top: .4rem;
}

.nav-login {
  background-color: var(--purple);
  border-radius: 60px;
  padding: 7px 20px!important;
  box-shadow: 0px 8px 20px rgba(63, 81, 181, 0.4);
  transition: all 150ms ease-in-out;
}

.nav-login:hover {
  box-shadow: 0px 2px 3px rgba(63, 81, 181, 0.6);
}

/**************
    CARDS
****************/

a.custom-card,
a.custom-card:hover {
  color: inherit;
  cursor: pointer;
}

.card {
  border-radius: .50rem;
  border: none;
  box-shadow: 0px 8px 20px rgba(63, 81, 181, 0.4);
  width: 19rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 12px;
  margin: 10px auto;
}

.card-body {
  padding: 0.8rem;
}

.card-buttons {
  text-align: center;
  padding-top: 12px;
}

.btn-success, .btn-danger {
  border-color: var(--purple);
  border-radius: 50%;
  background-color: #fff;
  color: var(--purple);
}

.btn-success:active, .btn-danger:active,
.btn-success:focus, .btn-danger:focus {
  color: var(--purple);
  background-color: #fff;
}

.btn-success:hover, .btn-danger:hover {
  background-color: #fff;
  color: var(--purple);
  border-color: var(--purple);
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn-voted, .btn-voted:focus, .btn-voted:active {
  color: #fff;
  background-color: var(--purple);
}

.card:hover {
  box-shadow: 0px 2px 8px rgba(63, 81, 181, 0.6);
}

.card-img-top {
  border-top-left-radius: calc(.50rem - 1px);
  border-top-right-radius: calc(.50rem - 1px);
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
}

.price, .votes {
  position: absolute;
  background: linear-gradient(125.11deg, #36D1DC 0%, #5B86E5 100%);
}

.price {
  top: .5rem;
  left: 0.5rem;
  min-width: 5rem;
  height: 2rem;
  margin: 0;
  padding: 0 5px 0 5px;
  display: inline;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  border-radius: 40px;
  background-color: var(--purple);
  z-index: 100;
}

.votes {
  top: 17.4rem;
  left: 16rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  background-color: var(--cyan);
  color: #fff;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  display: inline;
  box-shadow: 0px 5px 10px rgba(63, 81, 181, 0.4);
  transition: all 0.2s ease-in-out;
}


/**********************
  PRODUCT PAGE
**********************/

.pic-container {
  border-bottom: 1px solid #eaeef1;
  max-width: 90vw;
  max-height: 70vh;
  margin: 0 auto;
}

.btn-pic-page {
  position: relative;
  top: -2vh;
  padding: 5px 15px;
}

.btn-pic-desktop {
  display: none;
}

.price-and-store {
  display: inline-block;
}

.price-show-page {
  position: relative;
  top: 3vh;
  left: 0;
  padding: 8px 12px;
}

.store-name {
  position: relative;
  left: 38vw;
  top: -5px;
  font-size: 0.9rem;
}

.description {
  position: relative;
  top: 3vh;
  left: 0;
  margin-bottom: 50px;
}

.description h5 {
  color: var(--purple);
}

.comments-section {
  background: linear-gradient(137.73deg, #36D1DC 0%, #46B0E0 44.27%, #5B86E5 100%);
  color: #fff;
  text-align: center;
}

.comments-content {
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.comments-area {
 overflow: scroll; 
 max-height: 60vh;
 margin-bottom: 10px;
 padding-top: 1.4rem;
 margin-top: -1.8rem;
}

.comments-area::-webkit-scrollbar {
  width: 0px!important;
  background: transparent!important;
  display: none!important;
  scrollbar-width: none;
}

.list-group-item {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 9px rgba(63, 81, 181, 0.9);
  border-radius: .5rem;
  border: none;
  text-align: left;
}

.list-group-item:first-child {
  border-radius: .5rem;
}

.list-group-item:last-child {
  margin-bottom: 20px;
  border-radius: .5rem;
}

.lead {
  color: #000;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  font-size: 1rem;
}

.user-pic-comment {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--purple);
  z-index: 100000000;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
}

.btn-comment {
  padding: 7px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
  margin-left: .25rem;
}

.btn-comment:hover {
  box-shadow: -2px 2px 3px rgba(63, 81, 181, 0.8);
}

.comment-input {
  outline: none;
  max-width: 82vw!important;
  border: none;
  border-radius: 40px;
  box-shadow: 0px 8px 10px rgba(63, 81, 181, 0.6);
}

.comment-input:focus {
  box-shadow: 0px 2px 6px rgba(63, 81, 181, 0.9);
}

.toggle-btn {
  width: 100%;
  height: 10vh;
  padding: 15px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  background-color: #fff;
  color: #303030;
  box-shadow: 0px 8px 10px rgba(63, 81, 181, 0.6);
  margin-bottom: 15px;
  position: relative;
  z-index: 1000;
}

.toggle-btn-title {
  display: inline-block;
  margin-left: .9rem;
  cursor: pointer;
}

.arrow-up {
  transform: rotate(-180deg);
}

.container {
  flex-wrap: wrap;
}

.page-container {
  width: 100%;
  min-height: 100%;
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.page-container .row {
  margin: 0;
}

.page-content {
  height: 80vh;
}


footer {
  width: 100%;
  min-height: 32vh;
  background-color: var(--purple);
  color: #fff;
  justify-content: space-between;
  padding: 0 30px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

footer li {
  list-style: none;
}

footer .footerLogo {
  font-size: 1.3rem;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 550px) {
  .page-content {
    height: 50vh;
  }
  .register-form-container {
    padding-top: 5px!important;
  }
}

/* cards */
@media only screen and (min-width: 1050px) {
  .card {
    width: 21rem!important;
  }
  .row {
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media only screen and (min-width: 1025px) {
  .votes {
    top: 19.8rem;
    left: 18rem;
  }
}

/* header */
@media only screen and (min-width: 680px) {
  .card {
    width: 19rem;
  }

  .jumbotron {
    height: 65vh;
  }

  .jumb-bg {
    width: 75vw;
    position: relative;
    top: 2vh;
    left: 25%;
  }

  .presentation-header {
    position: absolute;
    top: 17vh;
    left: 4vw;
    width: 40vw;
    font-weight: 100;
    font-size: 2rem;
    color: #fff;
    z-index: 1;
    display: inline-block;
  }
}

@media only screen and (min-width: 980px) {
  .jumbotron {
    height: 83vh!important;
  }

  .jumb-bg {
    top: 6vh;
    width: 75vw;
    height: 75vh;
    left: 22rem;
  }

  .presentation-header {
    font-size: 3rem!important;
  }
} 

/* containers */
@media (min-width: 992px) {
  .container {
      max-width: 1060px;
  }
}

@media (max-width: 768px){
  .container {
    max-width: 670px;
  }
}

@media (min-width: 590px) {
  .container-fluid {
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .btn-success:hover, .btn-danger:hover {
    background-color: var(--purple);
    color: #fff;
    border-color: var(--purple);
  }
}
@media (min-width: 915px) {
  .container-fluid {
    flex-direction: row;
    min-height: 90vh;
  }
  .info-body {
    margin-top: 14vh;
    margin-left: 5vw;
    width: 50vw;
  }
  .store-name {
    left: 13vw;
  }
  
  .pic-container {
    position: relative;
    top: 4vh;
    width: 40vw;
    border-radius: 10px;
  }

  .pic-container img {
    box-shadow: -2px 6px 14px rgba(63, 81, 181, 0.6);
    border-radius: 10px;
  }
  .btn-pic-page {
    display: none;
  }
  .btn-loja-desktop {
    display: block;
    text-align: center;
  }
  .btn-pic-desktop {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 20px;
  }
  .comments-section {
    width: 70vw;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .loggin-form{
    margin-top: -81px!important;
  }
  footer {
    width: 100%;
    min-height: 32vh;
    background-color: var(--purple);
    color: #fff;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
  }
}

@media (min-width: 590px) {
  .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 40px;
  }
}


@media (min-width: 1000px) {
  .col-xl-3 {
      -ms-flex: 0 0 25%!important;
      flex: 0 0 25%!important;
      max-width: 35%;
  }
}


@media (min-width: 700px) {
  .comments {
    padding-left: 50px;
  }
}

@media (min-width: 500px) {
  .comments-content {
    width: 50vw;
    margin: 0 auto;
  }
  .resp {
    width: 25vw!important;
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
   .toggle-btn {
    width: 100%;
    height: 8vh;
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    background-color: #fff;
    color: #303030;
    box-shadow: 0px 8px 10px rgba(63, 81, 181, 0.6);
    margin-bottom: 15px;
    position: relative;
    z-index: 1000;
}
}

@media (min-width: 1400px) {
  .resp {
    width: 25vw!important;
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .toggle-btn {
    width: 100%;
    height: 6vh;
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    background-color: #fff;
    color: #303030;
    box-shadow: 0px 8px 10px rgba(63, 81, 181, 0.6);
    margin-bottom: 15px;
    position: relative;
    z-index: 1000;
}

  .container-fluid {
    padding-left: 200px;
    padding-right: 200px;
}
  .jumbotron {
    height: 72vh!important;
  }
  .container {
      max-width: 1665px;
      margin-bottom: 40px;
  }
  .jumb-bg {
    top: 0vh;
    width: 90vw;
    height: 75vh;
    left: 26rem;
  }
  .presentation-header {
    font-size: 3.8rem!important;
  } 
  .comments-content {
    width: 50vh;
    margin: 0 auto;
  }
  .comments {
    padding-left: 100px;
  }
}

::-webkit-scrollbar {
  width: 0px!important;
  background: transparent!important;
  display: none!important;
  scrollbar-width: none!important;
}

::-webkit-scrollbar-thumb {
  background: transparent!important;
  display: none!important;
}