body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #eef5f9;
}

img {
    width: 100%;
    min-height: 50%;
}

:root {
    --purple: #3F51B5;
    --cyan: #36D1DC;
    --blue: #5B86E5;
}

h2 {
  color: var(--purple);
}

.container {
    padding-right: 8px;
    padding-left: 8px;
}

.row {
  width: 100%;
}

.btn-primary {
  background-color: var(--purple);
  color: #fff;
  border-color: var(--purple);
  border-radius: 40px;
  box-shadow: -2px 6px 12px rgba(63, 81, 181, 0.6);
  font-size: 1.1rem;
  margin: 0 auto;
  padding: 3px;
  transition: all 150ms ease-in-out;
}

.btn-primary:hover {
  background-color: var(--purple);
  border-color: var(--purple);
  box-shadow: -2px 2px 3px rgba(63, 81, 181, 0.8);
}

.btn-loja {
  width: 6.5rem;
}

/*************
  HEADER 
**************/
.jumbotron{
  height: 48vh;
  color: #fff;
  background: linear-gradient(125.11deg, #36D1DC 0%, #5B86E5 100%);
  border-radius: 0;
  padding: 0;
}

.jumb-bg {
  position: relative;
  top: 8vh;
  left: 4vw;
  width: 100%;
  height: 100%;
}

.presentation-header {
  display: none;
}

.presentation-header a {
  position: relative;
  left: 10vw;
}


/**************** 
  NAVBAR 
******************/
.navbar {
  transition: all 0.2s ease-in-out;
}

.navbar-toggler, .navbar-light .navbar-brand  {
  color: #fff;
}

.mr-auto, .mx-auto {
  margin-right: 15px!important;
  margin-left: auto!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.9rem;
    padding-left: .9rem;
    font-size: 1.07rem;
    font-weight: 100;
}

.navbar-brand {
  margin-left: 1rem;
}

.bgColor {
  background-color:var(--purple)!important;
  box-shadow: 0px 8px 20px rgba(63, 81, 181, 0.4);
}

.navbar-light .navbar-toggler, 
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show, 
 .navbar-light .navbar-nav .show>.nav-link,
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    border-color: rgba(0,0,0,0);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #efefef;
}

.navbar-toggler{
  padding: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
    position: relative;
    top: .4rem;
}

.nav-login {
  background-color: var(--purple);
  border-radius: 60px;
  padding: 7px 20px!important;
  box-shadow: 0px 8px 20px rgba(63, 81, 181, 0.4);
  transition: all 150ms ease-in-out;
}

.nav-login:hover {
  box-shadow: 0px 2px 3px rgba(63, 81, 181, 0.6);
}

/**************
    CARDS
****************/

a.custom-card,
a.custom-card:hover {
  color: inherit;
  cursor: pointer;
}

.card {
  border-radius: .50rem;
  border: none;
  box-shadow: 0px 8px 20px rgba(63, 81, 181, 0.4);
  width: 19rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 12px;
  margin: 10px auto;
}

.card-body {
  padding: 0.8rem;
}

.card-buttons {
  text-align: center;
  padding-top: 12px;
}

.card:hover {
  box-shadow: 0px 2px 8px rgba(63, 81, 181, 0.6);
}

.card-img-top {
    border-top-left-radius: calc(.50rem - 1px);
    border-top-right-radius: calc(.50rem - 1px);
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
}

.price, .votes {
    position: absolute;
    background: linear-gradient(125.11deg, #36D1DC 0%, #5B86E5 100%);
}

.price {
    top: .5rem;
    left: 0.5rem;
    min-width: 5rem;
    height: 2rem;
    margin: 0;
    padding: 0 5px 0 5px;
    display: inline;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    border-radius: 40px;
    background-color: var(--purple);
    z-index: 100;
}

.votes {
    top: 17.4rem;
    left: 16rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    padding: 0;
    background-color: var(--cyan);
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    font-size: 1.2rem;
    display: inline;
    box-shadow: 0px 5px 10px rgba(63, 81, 181, 0.4);
}


/**********************
  PRODUCT PAGE
**********************/
.show-page {
  padding-left: 15px;
  padding-right: 15px;
}

.pic-container {
  width: 100%;
  max-height: 60vh;
}

.btn-pic-page {
    position: relative;
    top: -3vh;
    left: 35vw;
    padding: 5px 15px;
}

.price-and-store {
  display: inline-block;
}

.price-show-page {
  position: relative;
  top: 3vh;
  left: 0;
  padding: 8px 12px;
}

.store-name {
    position: relative;
    left: 38vw;
    top: -5px;
    font-size: 0.9rem;
}

.description {
  position: relative;
  top: 3vh;
  left: 0;
  margin-bottom: 50px;
}

.description h5 {
  color: var(--purple);
}

.comments-section {
  background: linear-gradient(125.11deg, #36D1DC 0%, #5B86E5 100%);
  color: #fff;
  text-align: center;
  padding: 10px;
}

.list-group-item {
  padding: 5px;
}

.list-group-item:last-child {
  margin-bottom: 10px;
  border-radius: .25rem;
  box-shadow: 5px 5px 15px rgba(63, 81, 181, 0.2);
}

.lead {
  color: #000;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
}

.btn-comment {
  padding: 6px 10px;
  transition: all 150ms ease-in-out;
}

.btn-comment:hover {
  box-shadow: -2px 2px 3px rgba(63, 81, 181, 0.8);
}

/* MEDIA QUERIES */

/* cards */
@media only screen and (min-width: 1025px) {
  .card {
    width: 21.5rem;
  }

  .votes {
    top: 19.8rem;
    left: 18rem;
  }
}

/* header */
@media only screen and (min-width: 640px) {
  .jumbotron {
    height: 65vh;
  }

  .jumb-bg {
    width: 75vw;
    position: relative;
    top: 2vh;
    left: 25%;
  }

  .presentation-header {
    position: absolute;
    top: 15vh;
    left: 2vw;
    width: 40vw;
    font-weight: 100;
    font-size: 2rem;
    color: #fff;
    z-index: 1;
    display: inline-block;
  }
}

@media only screen and (min-width: 980px) {
  .jumbotron {
    height: 85vh!important;
  }

  .jumb-bg {
    top: vh;
  }

  .presentation-header {
    font-size: 3rem!important;
  }
} 