<% include partials/header %>
    <div class="page-not-found">
        <img src="/img/page-not-found.svg" class="img-responsive">
        <%# <div class="page-not-found-text"> %>
            <h1 class="mt-4">Oops! Page not found...</h1>
        <%# </div> %>
    </div>
<% include partials/footer %>